/* 右侧折叠按钮 */
.scene-tree-toggle {
    position: fixed;
    top: 50%;
    right: 0;
    width: 32px;
    height: 60px;

    background: rgba(24, 144, 255, 0.55); /* 半透明蓝 */
    backdrop-filter: blur(6px); /* 毛玻璃感（可选） */

    color: #e6f7ff;
    cursor: pointer;
    z-index: 9999;

    border-radius: 6px 0 0 6px;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 0 12px rgba(24, 144, 255, 0.35),
    inset 0 0 6px rgba(255, 255, 255, 0.15);

    transition: all .25s ease;
}

.scene-tree-toggle:hover {
    background: rgba(24, 144, 255, 0.8);
    box-shadow: 0 0 18px rgba(24, 144, 255, 0.6),
    inset 0 0 10px rgba(255, 255, 255, 0.25);
}

/* 面板 */
.scene-tree-panel {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;

    background: rgba(255, 255, 255, 0.88); /* 半透明白 */

    box-shadow: -4px 0 20px rgba(0, 0, 0, 0.25);

    z-index: 9998;
    transition: right 0.3s ease;
}

.scene-tree-panel.open {
    right: 0;
}

.scene-tree-header {
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    font-weight: 600;
    border-bottom: 1px solid rgba(255, 255, 255, 0.88);
}

.scene-tree-body {
    padding: 10px;
    overflow-y: auto;
    height: calc(100% - 50px);
}

.layui-tree-set-active > .layui-tree-entry .layui-tree-main {
    background: rgba(213, 208, 208, 0.88);
}