version: '3.8'
name: 'public'
services:
  mysql:
    image: mysql:latest
    container_name: mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root
    volumes:
      - ${MOUNT_PATH}\mysql\data\:/var/lib/mysql
    ports:
      - "3306:3306"
      - "33060:33060"
    restart: always
    networks:
      - cloud-net
networks:
  cloud-net:
    driver: bridge